@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2');

*{font-family: 'Lato','Noto Sans KR'; color: #141414; letter-spacing: -1.2px;}
#serif{font-family: 'Playfair Display', serif; letter-spacing: 0px;}